#search-and-filters{
    margin: 0 20px;
}

#search-and-filters-wrap{
    display: flex;
    flex-direction: row;
}

#filter-text{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #67a5fd;
}
#filter-text > span{
    cursor: pointer;
}

#filters-form{
    background: #efefef;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 5px;
}

#filter-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    flex-wrap: wrap;
}

.filter-input{
    width: 20%;
    margin-right: 5px;
}

#people-wrapper{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#person-block{
    background: #f7f7f7;
    border-radius: 8px;
    width: 29%;
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#person-block:hover{
    background: #f1f1f1;
}

#person-img{
    border: 1px solid #cccbcb;
    width: 25%;
}

#person-fio{
    font-weight: 600;
    margin-bottom: 15px;
}

#person-info-block{
    width: 70%;
}

.person-info-detail{
    color: #0053e5;
}

.person-link-button{
    background: #1677ff;
    padding: 7px 14px;
    border-radius: 8px;
    cursor: pointer;
    border-bottom: solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

#pagination-home-page{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}