#menu-component{
    display: flex;
    right: 0;
    padding: 0 15px;
    background: #ffffff;
    position: sticky;
    z-index: 300;
    align-items: center;
    /*background: #2D7A78;*/
    /*margin-bottom: 15px;*/
}

.text-login{
    font-weight: 600;
}

.input-login{
    margin-bottom: 40px;
}

#menu-component > img {
    width: 120px;
}

#menu-logo{
    cursor: pointer;
    /* height: 125px;
    width: 150px; */
}

#menu-wrapper {
    display: flex;
    justify-content: flex-end;
}

#menu-auth{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media(max-width: 600px) {
    #menu-auth {
        visibility: hidden;
    }
    #menu-favicon {
        position: absolute;
        left: 50%;
    }
    #menu-favicon-img {
        position: absolute;
        left: 55%;
        height: 50px;
        width: 150px;
    }
}



.menu-item{
    cursor: pointer;
    padding: 0 10px;
    color: #000000;
    text-decoration: none;
}

.menu-item:hover{
    color: black;
    transition: 0.4s;
}

#login-button{
    /*background: #1677ff;*/
    /*padding: 10px 15px;*/
    /*border-radius: 8px;*/
    /*cursor: pointer;*/
    /*margin-right: 20px;*/
    /*border-bottom: solid #ffffff;*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
    font-size: 18px;
}

.menu-item-drawer{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
}


.rightMenu {
    height: 500px;
    position: relative
}

.menu-item-drawer:hover{
    transition: 0.4s;
    border-bottom: solid #455ef3 1px;
}

@media screen and (min-width: 992px) {
    .header {
        visibility: none;
        display: none;
    }
}

@media screen and ( max-width: 991px ) {
    #menu-component{
        flex-direction: row;
        width: 100vw;
    }
    #menu-wrapper > .menu-avatar {
        display: flex;
        justify-content: space-between;
    }

    .menu-item {
        visibility: hidden;
    }

    .menu-avatar {
        visibility: hidden;
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        top: 0;
        position: absolute;     
    }

    .header-desktop {
        visibility: none;
        display: none;
    }
}