#home-page-component{
    display: flex;
    flex-direction: row;
}

.text-login{
    font-weight: 600;
}

.input-login{
    margin-bottom: 20px;
}

#registration-button{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #0048ff;
    font-size: 20px;
    cursor: pointer;
}

#registration-button:hover{
    color: #467aff;
}

#home-page-wrapper{
    width: 100%;
}

#welcome{
    background-image: url("https://www.shutterstock.com/image-vector/simple-world-map-light-blue-260nw-1697099506.jpg");
    background-size: 450px;
    padding: 20px 20px;
    margin: 20px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#welcome-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

#welcome-description{
    /* color: #7c7c7c; */
    font-weight:500;
    font-size: 16px;
}

#create-biography{
    display: flex;
    flex-direction: column;
    line-height: 2;
}

#create-biography-button{
    display: flex;
    justify-content: flex-end;
}

#home-page-globe-component{
    margin: 20px;
    display: flex;
    justify-content: center;
    cursor: grab;
}

#home-page-globe-component:active{
    cursor: grabbing;
}

#search-and-filters{
    margin: 0 20px;
}

#search-and-filters-wrap{
    display: flex;
    flex-direction: row;
}

#filter-text{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #67a5fd;
}
#filter-text > span{
    cursor: pointer;
}

#filters-form{
    background: #efefef;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 5px;
}

#filter-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    flex-wrap: wrap;
}

.filter-input{
    width: 20%;
    margin-right: 5px;
}

#people-wrapper{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.person-info-detail{
    color: #0053e5;
}

.person-link-button{
    background: #1677ff;
    padding: 7px 14px;
    border-radius: 8px;
    cursor: pointer;
    border-bottom: solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

#articles {
    margin-right: 10px;
}

#pagination-home-page{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and ( max-width: 900px ) {
    #component-left-menu{
        display: none;
    }

    #welcome {
        flex-direction: column;
        align-items: center;
        background-size: 500px;
        background-position: center;
        font-size: 13px;
        position: relative;
        width: 87.5%;
    }

    #create-biography-button {
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    #welcome-text {
        font-size: 16px;
        margin-bottom: 5px;
    }

    #welcome-description {
        font-size: 14px;
    }

    #createButton {
        width: 100%;
    }

    #people-wrapper {
        margin: 0;
    }
}