/* Общие стили для карты */
.card {
    max-width: 300px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
    background: #EAFCFF;
}

.card.me {
    background: #2DB7CE;
    color: black;
}

.card_content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.treeImg {
    width: 80px;
    height: 100px;
    margin-bottom: 10px;
}

.profileData {
    margin-left: 10px;
    font-size: 0.9rem;
}

.profileData div {
    margin: 5px 0;
}

/* Стили для семейного дерева */
.tree ul {
    position: relative;
    transition: all 0.5s;
}

.tree ul ul {
    padding-top: 20px;
}

.tree li {
    list-style-type: none;
    position: relative;
    padding: 5px 5px 0 5px;
    text-align: center;
    transition: all 0.5s;
}

/* Блок родительских узлов */
.parent-nodes {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
}

/* Соединительные линии */
.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

/* Node styling */
.tree li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Verdana, Tahoma;
    display: inline-block;
    min-height: 125px;
    max-width: 320px;
    padding: 5px;
    transition: all 0.5s;
}

/* Hover эффекты */
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}


@media (max-width: 600px) {
    .tree ul {
        padding: 0;
    }

    .card_content {
        font-size: 0.6rem;
    }
}
