#catalog-page{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80vh;
    margin-bottom: 20px;
}

#catalog-breadcrumb{
    margin: 20px;
}

#catalog-people-list{
    width: 100%;
}

@media screen and ( max-width: 900px ) {
    #component-left-menu{
        display: none;
    }
}