#leftMenuContainer {
    /*height: 80vh;*/
    /*overflow-y: scroll;*/
    box-sizing: border-box;
    width: 270px;
    height: 100%;
    border-right: 1px;
    padding: 15px;
    background: #f7f7f7;
}

.continentItem {
    margin-bottom: 50px;
}

.countryItem {
    box-sizing: border-box;
    padding: 15px;
}

.continentList {
    display: block;
    color: black;
    visibility: visible;
    margin-left: 20px;
    margin-right: 17px;
}

#menu-item {
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#menu-item-active {
    display: flex;
    margin-bottom: 0;
    font-size: 20px;
    white-space: nowrap;
    justify-content: space-between;
}

#countryItem {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 12px;
}

.menu-icon-show,
.menu-icon-hide {
    font-size: 1.2rem;
}

.menu-icon-hide:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    #leftMenuContainer {
        width: 100%;
    }

    #left-menu-component {
        width: 100vw;
        visibility: visible;
        display: flex;
        z-index: 10000
    }

    .continentItem {
        font-size: 16px;
        margin-bottom: 20px;
    }

    #logo {
        visibility: hidden;
        display: none;
    }

    .continentItem {
        margin-bottom: 20px;
    }

    .menu-icon-show,
    .menu-icon-hide {
        font-size: 0.9rem;
    }
}