#leftMenuContainer{
    /*height: 80vh;*/
    /*overflow-y: scroll;*/
    width: 215px;
    height: 98.25%;
    border-right: 1px;
    padding: 15px 15px 15px;
}

.continentItem {
    margin-bottom: 20px;
}

.continentItem:active {
    color: #2F5A9B;
}

.countryItem {
    margin-left: 15px;
    margin-bottom: 5px;
}

#menu-item {
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
}

#menu-item {
    color:black;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#menu-item-active {
    margin-bottom: 10px;
    font-size: 20px;
    color:#2F5A9B;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

@media screen and (min-width: 901px) {
    #left-menu-component {
        background: #efefef;
    }
}

@media screen and ( max-width: 900px ) {
    #left-menu-component{
        width: 100vw;
        visibility: visible;
        display: flex;
        z-index: 10000
    }

    #countryItem {
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .continentList {
        color: black;
        visibility: visible;
        margin-left: 15px;
        width: 95vw;
    }

    .continentItem {
        margin-bottom: 10px;
        font-size: 25px;
    }

    #menu-item{
        margin-bottom: 0;
        font-size: 25px;
        white-space: nowrap;
        justify-content: space-between;
    }
    #menu-item-active {
        display: flex;
        margin-bottom: 0;
        font-size: 25px;
        color:#2F5A9B;
        white-space: nowrap; 
        justify-content: space-between;
    }

    #logo {
        visibility: hidden;
        display: none;
    }
}