#setting-page{
    display: flex;
    flex-direction: row;
}

#setting-page-wrapper{
    margin: 20px;
    width: 100%;
}

#setting-page-form{
    width: 90%;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 10px;
}

#menu-wrapper {
    position: absolute;
    right: 0;
}

@media screen and (min-width: 901) {
    #component-left-menu {
        visibility: visible;
    }
}

@media screen and ( max-width: 900px ) {
    /* #component-left-menu{
        display: none;
    } */
}