/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/pagesComponents/homePage/HomePage.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
#home-page-component{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.text-login{
    font-weight: 600;
}

.input-login{
    margin-bottom: 20px;
}

#registration-button{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #0048ff;
    font-size: 20px;
    cursor: pointer;
}

#registration-button:hover{
    color: #467aff;
}

#home-page-wrapper{
    width: 100%;
}

#welcome{
    background: #daf2ff;
    padding: 20px 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#welcome-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

#welcome-description{
    color: #7c7c7c;
    font-size: 16px;
}

#create-biography{
    display: flex;
    flex-direction: column;
    line-height: 2;
}

#create-biography-button{
    display: flex;
    justify-content: flex-end;
}

#home-page-globe-component{
    margin: 20px;
    display: flex;
    justify-content: center;
    cursor: -webkit-grab;
    cursor: grab;
}

#home-page-globe-component:active{
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#search-and-filters{
    margin: 0 20px;
}

#search-and-filters-wrap{
    display: flex;
    flex-direction: row;
}

#filter-text{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #67a5fd;
}
#filter-text > span{
    cursor: pointer;
}

#filters-form{
    background: #efefef;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 5px;
}

#filter-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    flex-wrap: wrap;
}

.filter-input{
    width: 20%;
    margin-right: 5px;
}

#people-wrapper{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#person-block{
    background: #f7f7f7;
    border-radius: 8px;
    width: 29%;
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#person-block:hover{
    background: #f1f1f1;
}

#person-img{
    border: 1px solid #cccbcb;
    width: 25%;
}

#person-fio{
    font-weight: 600;
    margin-bottom: 15px;
}

#person-info-block{
    width: 70%;
}

.person-info-detail{
    color: #0053e5;
}

.person-link-button{
    background: #1677ff;
    padding: 7px 14px;
    border-radius: 8px;
    cursor: pointer;
    border-bottom: solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

#pagination-home-page{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and ( max-width: 900px ) {
    #component-left-menu{
        display: none;
    }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/leftMenu/LeftMenu.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
#left-menu-component{
    background: #f7f7f7;
    height: 100%;
    /*height: 80vh;*/
    /*overflow-y: scroll;*/
    min-height: 80vh;
    width: 256px
}


@media screen and ( max-width: 900px ) {
    #left-menu-component{
        width: 100%;
        min-height: auto;
    }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/peopleList/PeopleList.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/

#people-wrapper{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#person-block{
    background: #f7f7f7;
    border-radius: 8px;
    /*width: 29%;*/
    width: 435px;
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#person-block:hover{
    background: #f1f1f1;
}

#person-img{
    border: 1px solid #cccbcb;
    /*width: 25%;*/
}

#person-fio{
    font-weight: 600;
    margin-bottom: 15px;
}

#person-info-block{
    /*width: 70%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person-info-detail{
    color: #0053e5;
}

.person-link-button{
    background: #1677ff;
    padding: 7px 14px;
    border-radius: 8px;
    cursor: pointer;
    border-bottom: solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.favorites-on{
    /*color: #0048ff;*/
    margin-right: 10px;
    cursor: pointer;
}

.favorites-on:hover{
    color: red;
}

.people-edit{
    margin-right: 10px;
    cursor: pointer;
}

.people-edit:hover{
    color: #0048ff;
}

#pagination-home-page{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and ( max-width: 1000px ) {
    #people-wrapper{
        flex-direction: column;
        align-items: center;
    }

    #person-block{
        width: 90%;
    }
    /*#people-wrapper{*/
    /*    margin: 0 !important;*/
    /*}*/
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/peopleList/MtcPeopleList.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
#mtc-people-list-component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
}

#mtc-people-list-block{
    border-radius: 35px;
    width: 375px;
    min-height: 30rem;
    display: flex;
    align-items: end;
    cursor: pointer;
}

#mtc-people-list-person{
    /*background: #c9e4ff;*/
    background-image: linear-gradient(139.21deg,#0000,#666 145.16%),linear-gradient(-139.21deg,#0000,#666 145.16%);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 15px;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 15px;
}

#mtc-date {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
    max-width: 300px;
}
#mtc-people-list-person > div {
    color: white;
}

#mtc-person-fio{
    font-weight: 600;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}

.mtc-person-info-detail{
    /*color: #0053e5;*/
    color: white;
}

@media screen and ( max-width: 450px ) {
    #mtc-people-list-component{
        flex-direction: column;
    }
    #mtc-people-list-block{
        width: 95%;
        margin: 7px 10px;
    }
}
